[gcode_macro _USER_VARIABLES]
################################################################################
# Miscellaneous Configuration
################################################################################
# Enable verbose output
variable_verbose: True

################################################################################
# Common parameters for the macros
################################################################################
variable_default_nozzle_temperature: 240
variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_travel_speed: 30


################################################################################
# Heatsoak defaults
################################################################################
variable_heatsoak_default_temperature: 110 	# Default bed temperature
variable_heatsoak_nozzle_temperature: 150 	# Used when bed temp > 100°C


################################################################################
# Leveling and bed probing - conditionally enabled by included hardware features
################################################################################
variable_bed_mesh_enabled: False
variable_qgl_enabled: False
variable_ztilt_enabled: False

################################################################################
# Nozzle Cleaning
################################################################################
variable_nozzle_brush_enabled: True
variable_nozzle_brush_clean_speed: 100          # How fast to move over the brush
variable_nozzle_brush_clean_iterations: 5       # Number of cleaning motions
variable_nozzle_brush_x: 235                    # Position of the brush center
variable_nozzle_brush_y: 302                    # Position of the brush center
variable_nozzle_brush_z: 0                      # Height at wish to wipe
variable_nozzle_brush_width: 40                 # Width of the brush element


################################################################################
# Nozzle Purging
################################################################################
variable_purge_bucket_enabled: True
variable_purge_bucket_x: 265                    # Position of the purge bucket
variable_purge_bucket_y: 302                    # Position of the purge bucket
variable_purge_bucket_z: 5                      # Height at which to purge
variable_purge_distance: 30                     # Amount to purge
variable_purge_dwell: 0                         # Time to wait and let nozzle ooze


################################################################################
# Bed Fans
################################################################################
variable_bed_fans_enabled: False                # Include hardware function to enable
variable_bed_fans_enable_threshold: 95          # Enable bed fans above this bed temperature
variable_bed_fans_speed: {
        'off': {
            'inner': 0.0,
            'outer': 0.0,
        },
        'slow': {
            'inner': 0.35,
            'outer': 0.35,
        },
        'fast': {
            'inner': 0.7,
            'outer': 0.8,
        }
    }

################################################################################
# Filament Sensor
################################################################################
variable_filament_sensor_enabled: True          # Include hardware function to enable

################################################################################
# Air Filters
################################################################################
variable_exhaust_filter_enabled: False          # Include hardware function to enable

################################################################################
# Shell commands
################################################################################
variable_backup_config_enabled: True

################################################################################
# Status LED (Stealthburner / Stealthfront / MiniSB)
################################################################################
variable_status_leds_colors: {
        'logo': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
            'filament_change':{'r': 1.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
        },
        'nozzle': {
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'caselight': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing':  {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
            'filament_change': {'r': 1.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
        },
        'minidisplay': {
            'on': {'r': 0.0, 'g': 0.2, 'b': 0.4, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'error': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }

################################################################################
# !! DO NOT REMOVE !!
################################################################################
gcode:

#####################################################################
#   Persistent Storage of variables
#####################################################################
[save_variables]
filename: /home/pi/printer_data/database/variables.stb
