#####################################################################
# Frame Temperature & Thermal Expansion Compensation
#####################################################################
[include thermistors/3950_airtemp.cfg]

[z_thermal_adjust]
temp_coeff: 0.0064
#   The temperature coefficient of expansion, in mm/degC. For example, a
#   temp_coeff of 0.01 mm/degC will move the Z axis downwards by 0.01 mm for
#   every degree Celsius that the temperature sensor increases. Defaults to
#   0.0 mm/degC, which applies no adjustment.
#smooth_time:
#   Smoothing window applied to the temperature sensor, in seconds. Can reduce
#   motor noise from excessive small corrections in response to sensor noise.
#   The default is 2.0 seconds.
#z_adjust_off_above:
#   Disables adjustments above this Z height [mm]. The last computed correction
#   will remain applied until the toolhead moves below the specified Z height
#   again. The default is 99999999.0 mm (always on).
#max_z_adjustment:
#   Maximum absolute adjustment that can be applied to the Z axis [mm]. The
#   default is 99999999.0 mm (unlimited).
sensor_type: Generic 3950 Airtemp
sensor_pin: T2
min_temp: 0
max_temp: 100
#   Temperature sensor configuration.
#   See the "extruder" section for the definition of the above
#   parameters.
gcode_id: frame
#   See the "heater_generic" section for the definition of this
#   parameter.
